<nav>
    <ul>
        <ul class="nav nav-list">
            <li class="disabled"><a href="/">Home</a></li>
            <li class="disabled"><a href="/">Custom</a></li>
            <li class="disabled"><a href="/">Sedan</a></li>
            <li class="disabled"><a href="/">SUV</a></li>
            <li class="disabled"><a href="/">Truck</a></li>
    </ul>
</nav>