/* Change Box Model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;

  margin: 0;
  padding: 0;
}

header#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

header#top-header .siteName {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

header#top-header .siteName a {
  text-decoration: none;
  color: #333;
}

header#top-header #tools {
  display: flex;
  align-items: center;
}

header#top-header #tools a {
  text-decoration: none;
  color: #007bff;
  padding-left: 15px;
}

.logo {
  width: 90px;
  height: auto;
  margin-right: 10px;
}

nav { 
  background-color: black;
  text-align: center;
  padding: 10px 0;

}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #f8f8f8;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li :hover{
  opacity: 7;
  color: #0066cc;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.account-link {
  display: flex;
  margin-top: 10px;
}

main {
  margin: 20px auto;
  padding: 0 15px;
}

.welcome h2 {
  margin-bottom: 20px;
}

.car-features {
  border: 1px solid #333;
  padding: 9px;
  /* margin: 20px 0; */
  background-color: rgba(248, 248, 248, 0.5);
  border-radius: 8px;
  position: absolute;
  top: 200px;
}
.car-features h3, h2{
  color: #0066cc;
}

button {
  font-weight: bold;
  border: none;
  padding: 11px;
  margin-top: 10px;
  background-color: #0066cc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.car-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  /* margin-left: 200px; */
}

footer {
  border-top: 2px solid black;
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
  background-color: #f8f8f8;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007bff; 
  /* padding: 28px; */
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  position: relative; 
  height: 125px;
}
.upgrade-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin-bottom: 10px;
}
.upgrade-name {
  text-align: center;
  color: #007bff; 
  position: absolute; 
  bottom: -27px; 
  padding: 5px;
  border-radius: 5px;
  text-decoration: none; 
}
.upgrade-name:hover {
  text-decoration: underline; 
  color: #0056b3; 
}
.reviews ul {
  gap: 30px;
  display: grid;
  word-spacing: 10px;
  margin: 22px;
  
}
.reviews {
  position: relative;
  right: 50px;
}

.reviews h3{
  position: relative;
  left: 46px;
}

@media (min-width: 769px) {
  .container-reviews-upgrades {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
    max-width: 1200px;
    margin: 20px auto;
  }

  .upgrades, .reviews {
    flex: 1;
  }

  .upgrades {
    order: 1; 
  }

  .reviews {
    order: 2; 
    }

    .reviews h3{
      position: relative;
      left: 46px;
    }

    .car-features {
      border: 1px solid #333;
      padding: 15px;
      margin: 20px 0;
      background-color: rgba(248, 248, 248, 0.5);
      border-radius: 8px;
      position: absolute;
      top: 230px;
      left: 125px;
    }
    
    .car-image {
      max-width: 100%;
      height: auto;
      margin: 20px 0;
      margin-left: 200px;
    }
    #inv-display li {
      width: 45%; /* Adjust the width for medium screens */
  }

}


/* Base styles */
#inv-display {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inv-display li {
  width: 300px; /* Adjust based on preference */
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 18px;
  border-style: solid;

}

#inv-display li:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#inv-display img {
  width: 100%;
  height: 52%;
  display: block;
  border-radius: 19px;
  padding: 2px;
}

.namePrice {
  padding: 15px;
  text-align: center;
  background: #f8f8f8;
}

.namePrice h2, .namePrice span {
  margin: 10px 0;
}

.namePrice hr {
  margin: 15px 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}



@media (max-width: 480px) {
  #inv-display {
      justify-content: center;
  }

  #inv-display li {
      width: 90%; /* Full width for smaller screens, adjust as necessary */
      margin: 10px 0; /* Reduce margin for smaller screens */
  }
}

/* detail page */
.vehicle-detail {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.1);
  padding: 20px;
  border-radius: 16px;
}

.vehicle-detail h1 {
  margin: 10px 0; /* Ensure the title has some margin */
}

.vehicle-detail img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 10px;
}

.detail-text p {
  margin: 10px 0;
}

.notice {
  text-align: center;
  color: #ff0000;
}

/* Large view adjustments */
@media (min-width: 1024px) {
  .vehicle-content {
    display: grid; 
    grid-template-columns: 60% 40%; 
    gap: 20px; 
    align-items: start; 
  }

  .vehicle-detail img {
    object-fit: cover; 
    height: 100%; 
    margin-bottom: 0; 
  }

  .detail-text {
    text-align: left; 
    position: relative;
    right: 79px;
  }
}