<% if (title) { %>
  <h1><%= title %></h1>
<% } %>
<%- messages() %>

<div class="management-container">
  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New  </a></li>
  </ul>
</div>
